<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Segmentation Prediction</title>
</head>
<body>
    <h2>Enter Customer Information</h2>
    <form action="{{ url_for('predict') }}" method="post">
        <label for="transaction_frequency">Transaction frequency:</label>
        <input type="number" name="transaction_frequency" step="0.1" required><br><br>

        <label for="Recency">Recency:</label>
        <input type="number" name="Recency" step="0.1" required><br><br>

        <label for="AverageAmount">Average Transaction Amount:</label>
        <input type="number" name="AverageAmount" step="0.1" required><br><br>

        <label for="personal">Personal Loan(1/0):</label>
        <input type="number" name="personal" step="1" required><br><br>

        <label for="housing">Housing Loan(1/0):</label>
        <input type="number" name="housing" step="1" required><br><br>

        <label for="cd">CD Account(1/0):</label>
        <input type="number" name="cd" step="1" required><br><br>

        <label for="securities">Security Account(1/0):</label>
        <input type="number" name="securities" step="1" required><br><br>

        <input type="submit" value="Predict Cluster">
    </form>
</body>
</html>